/* Start Variables */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --sec-color: #666;
    --sec-color-alt: #ececec;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}
/* End Variables */
/*Start Fonts*/
@font-face {
    font-family: 'Cairo';
    src: url('/fonts/Cairo-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Cairo';
    src: url('/fonts/Cairo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cairo';
    src: url('/fonts/Cairo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/*End Fonts*/

/* Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    counter-reset: num;
}
h1 {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/*Start Component*/
/* .component {
    text-align: center;
}
.component h2 {

}
.component h2::before {

}
.component h2::after {

}
.component p {

} */
/*End Component*/
/* Start Header */
.header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
.header .mega-menu {
    position: absolute;
    width: 100%;
    top: calc(100% + 50px);
    left: 0;
    background: white;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    gap: 40px;
    padding: 20px;
    z-index: -1;
    opacity: 0;
    transition: var(--main-transition);
}

.header .mega-menu .image {
    width: 400px;
    text-align: center;
}
.header .mega-menu .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .header .mega-menu .image {
        display: none;
    }
}
.header .mega-menu .links {
    min-width: 220px;
}
@media (max-width: 991px) {
    .header .mega-menu .links {
        flex: 1;
    }
}
@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
    }
}
.header .mega-menu .links li {
    position: relative;
}
.header .mega-menu .links li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    top: 0;
    left: 0;
    transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
    width: 100%;
}
.header .mega-menu .links li:not(:first-child :last-child) {
    border-bottom: 2px solid #eee;
}
@media (max-width: 767px) {
    .header .mega-menu .links li:last-child {
        border-bottom: 2px solid #eee;
    }
}
.header .mega-menu .links a {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
    display: block;
    padding: 18px;
}
.header .mega-menu i {
    margin-right: 10px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}
.header .main-nav {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 767px) {
    .header  .main-nav {
        margin: auto;
        height: 40px;
    }
}
.header .main-nav li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}
.header  .main-nav > li > a {
    color: black;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 30px;
    text-transform: capitalize;
    font-size: 18px;
    overflow: hidden;
    transition: var(--main-transition);
}
@media (max-width: 767px) {
    .header  .main-nav > li > a {
        height: 50px;
        font-size: 14px;
        padding: 10px;
    }
}
.header .main-nav > li > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
    left: 0;
}
/* End Header */
/* Start Landing */
.landing {
    height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}
.landing::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--sec-color-alt);
    transform: skewY(-5deg);
    transform-origin: top left;
    top: -40px;
}
.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (max-width: 991px) {
    .landing .container {
        justify-content: center;
    }
}

.landing .container img {
    max-width: 600px;
    transition: var(--main-transition);
    animation-name: infinity-img;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    position: relative;
    animation-timing-function: linear;
}
@media (max-width: 991px) {
    .landing .container img {
        display: none;
    }
}
.landing a.arrow-down {
    z-index: 1;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    animation: bouncing 2s linear infinite;
}
.landing .text {
    max-width: 500px;
}
@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}
.landing .text h1 {
    font-size: 40px;
    margin: 0;
}
@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 30px;
    }
}
.landing .text p {
    font-size: 23px;
    color: var(--sec-color);
    line-height: 1.7;
    margin: 0;
}
@media (max-width: 767px) {
    .landing .text p {
        font-size: 20px;
    }
}
/* End Landing */
/* Start Main Title */
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    transition-delay: 0.5s;
    color: white;
    border: 2px solid white;
}
/* End Main Title */
/*Start Articles*/
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.articles .main-title {
    margin-bottom: 60px;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    
}
.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);

}
.articles .box img {
    max-width: 100%;
}
.articles .box .content {
    padding: 20px;
}
.articles .box .content h3 {
    margin: 0;
}
.articles .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.articles .box .info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e6e6e7;
}
.articles .box .info a,
.articles .box .info i {
    color: var(--main-color);
    font-weight: bold;
}
.articles .box:hover .info i {
    animation: moving-arrow 0.6s infinite;
}
/*End Articles*/
/*Start Gallery*/
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--sec-color-alt);
    position: relative;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
    position: relative;
    overflow: hidden;
}
.gallery .box .image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}
.gallery .box .image:hover::before {
    animation: flashing 0.7s;
}
.gallery .box img {
    max-width: 100%;
    transition: var(--main-transition);
}
.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}
/*End Gallery*/

/* Start Features */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .box {
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
}
.features .img-holder {
    position: relative;
    overflow: hidden;
}
.features .img-holder::before {
    content: '';
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.features .quality .img-holder::before {
    background-color: rgb(244 64 54 / 60%);
}
.features .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
}
.features .passion .img-holder::before {
    background-color: rgb(3 169 244 / 60%); 
}
.features .img-holder::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
    transition: var(--main-transition);
}
.features .img-holder img {
    max-width: 100%;
}
.features .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0;
}

.features h2 {
    font-size: 40px;
    padding: 10px;
    text-transform: capitalize;
    width: fit-content;
    margin: -10px auto 30px;
}
.features .quality h2 {
    border-bottom: 5px solid #f44036;
}
.features .time h2 {
    border-bottom: 5px solid #009688;
}
.features .passion h2 {
    border-bottom: 5px solid var(--main-color);
}
.features p {
    font-size: 20px;
    line-height: 1.8;
    color: #777;
}
.features .box a {
    display: block;
    border: 3px solid transparent;
    text-transform: capitalize;
    width: fit-content;
    font-weight: bold;
    font-size: 22px;
    border-radius: 6px;
    transition: var(--main-transition);
    margin: 30px auto;
    padding: 10px 30px;
}
.features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:hover a {
    background-position: left bottom;
    color: white;
    background-color: #f44036;
}
.features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:hover a {
    background-position: left bottom;
    color: white;
    background-color: #009688;
}
.features .passion a {
    color: var(--main-color);
    border-color: var(--main-color);
    background: linear-gradient(to right, var(--main-color) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:hover a {
    background-position: left bottom;
    color: white;
    background-color: var(--main-color);
}
/* End Features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--sec-color-alt);

}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .box {
    position: relative;
    background-color: white;
    padding: 20px;
}
.testimonials .box img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -60px;
    right: 0;
    border-radius: 50%;
    border: 10px solid var(--sec-color-alt);
}
.testimonials .box h3 {
    padding: 0 0 10px;
}
.testimonials .box span {
    display: block;
    color: var(--sec-color);
    padding: 0px 0 10px;
}
.testimonials .box .rate .filled {
    color: #ffc107;
    padding: 0px 0 10px;
}
.testimonials .box p {
    color: var(--sec-color);
    line-height: 1.7;
}
/* End Testimonials */

/*Start Team Members*/
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 110px;
    column-gap: 30px;
}
.team .box {
    position: relative;
    transition: var(--main-transition);
}
.team .box::before,
.team .box::after {
    transition: var(--main-transition);
    content: '';
    position: absolute;
    width: calc(100% - 60px);
    height: calc(100% + 80px);
    background-color: #f3f3f3;
    border-radius: 10px;
    z-index: -1;
    top: -50px;
    right: 0px;
}
.team .box::before {
    height: calc(100% + 80px);
    z-index: -2;
}
.team .box::after {
    width: 0;
    background-color: #e4e4e4;
    z-index: -2;
}
.team .box:hover::after {
    filter: grayscale(100%);
    width: calc(100% - 60px);
}
.team .box:hover {
    filter: grayscale(100%);
}
.team .box .data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team .box .data img {
    max-width: calc(100% - 80px);
    border-radius: 10px;
}
.team .box .data .social {
    display: flex;
    flex-direction: column;
    min-width: 60px;
    align-items: center;
    
}
.team .box .data .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
}
.team .box .data .social i {
    color: #777;
    transition: var(--main-transition);
}
.team .box .data .social a:hover i {
    color: var(--main-color);
}
.team .box .info {
    padding-left: 80px;
}
.team .box .info h3 {
    color: var(--main-color);
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 10px;
}
.team .box .info p {
    color: #444;
    text-transform: capitalize;
}
/*End Team Members*/
/* Start Services  */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--sec-color-alt);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.services .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    transition: var(--main-transition);
}
.services .box::before,
.services .box::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    top: -2px;
    transition: var(--main-transition);
}
.services .box::before {
    right: 50%;
}
.services .box::after {
    left: 50%;
}
.services .box:hover::before,
.services .box:hover::after{
    width: 50%;
}
.services .box:hover {
    transform: translateY(-10px);
}
.services .box i {
    color: #d5d5d5;
    padding: 30px 0;
}
.services .box h3 {
    color: var(--main-color);
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 60px;
}
.services .box .info {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    overflow: hidden;

}
.services .box .info::before {
    counter-increment: num;
    content: counter(num, decimal-leading-zero);
    z-index: 3;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-left: 10px;
}
.services .box .info::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    left: -10px;
    background: linear-gradient(to right, var(--main-color) 70%, #d5d5d5 30%);
    transform: skew(-20deg);
}
.services .box .info a {
    z-index: 30;
    color: var(--main-color);
    text-transform: capitalize;
}
/* End Services  */
/*Start Animation*/
@keyframes infinity-img {
    0% {
        top: 0;
    }
    50% {
        top: -70px;
    }
    100% {
        top: 0px;
    }
}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 90%, 100% {
        bottom: 25px;
    }
    30%, 40%, 70%{
        bottom: 35px;
    }
}
@keyframes left-move {
    50% {
        left: 1px;
        width: 10px;
        height: 10px;
    }
    100% {
        left: 1px;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes right-move {
    50% {
        right: 1px;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 1px;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
/* End Animation */
